blueprint_fixed.json
{"flow": [{"id": 11, "mapper": {}, "module": "gateway:CustomWebHook", "version": 1, "metadata": {"restore": {"parameters": {"hook": {"data": {"editable": "true"}, "label": "Sheet Webhook"}}}, "advanced": true, "designer": {"x": 0, "y": 600}, "interface": [{"name": "value", "type": "text"}, {"name": "__IMTHEADERS__", "spec": [{"name": "name", "type": "text", "label": "Name"}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "__IMTMETHOD__", "type": "text", "label": "Method"}], "parameters": [{"name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true}, {"name": "maxResults", "type": "number", "label": "Maximum number of results"}]}, "parameters": {"hook": 3037326, "maxResults": 1}}, {"id": 13, "mapper": {"name": "norm_url", "scope": "roundtrip", "value": "{{replace(parseJSON(11.value) + .website; \"/$\"; )}}"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "advanced": true, "designer": {"x": 300, "y": 600, "messages": [{"message": "Module references non-existing module 'NaN'.", "category": "reference", "severity": "error"}]}, "interface": [{"name": "norm_url", "type": "any", "label": "norm_url"}]}, "parameters": {}}, {"id": 25, "mapper": {"name": "Profil {{parseJSON(11.value)}}{{.website}} {{parseJSON(11.value)}}{{.timestamp}}", "role": "writer", "type": "user", "email": "service@recruiting-now.de", "shared": true, "folderId": "/16PlMrkdgJGnZ0CjLufKHOmd1OzeJLI93", "destination": "drive"}, "module": "google-drive:createAFolder", "version": 4, "metadata": {"expect": [{"name": "destination", "type": "select", "label": "New Drive Location", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "folderId", "type": "folder", "label": "New Folder Location", "required": true}, {"name": "name", "type": "text", "label": "New Folder's Name"}, {"name": "shared", "type": "boolean", "label": "Share Folder", "required": true}, {"name": "role", "type": "select", "label": "Role", "required": true, "validate": {"enum": ["owner", "writer", "commenter", "reader"]}}, {"name": "type", "type": "select", "label": "Type", "required": true, "validate": {"enum": ["user", "group", "domain", "anyone"]}}, {"name": "email", "type": "email", "label": "User's Email", "required": true}], "restore": {"expect": {"role": {"mode": "edit"}, "type": {"mode": "edit"}, "folderId": {"mode": "edit", "path": []}, "destination": {"label": "My Drive"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-restricted"}, "label": "ki koordinator (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 600, "y": 600, "messages": [{"message": "Module references non-existing module 'NaN'.", "category": "reference", "severity": "error"}]}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-restricted", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 7740843}}, {"id": 26, "mapper": {"name": "Arbeitgeberprofil Benefits {{parseJSON(11.value).website}}", "footer": false, "header": false, "content": "Arbeitgeberprofil f\u00fcr {{parseJSON(11.value).website}}", "folderId": "{{25.id}}", "destination": "drive"}, "module": "google-docs:createADocument", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "content", "type": "text", "label": "Content", "required": true}, {"name": "destination", "type": "select", "label": "Choose a Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "header", "type": "boolean", "label": "Insert a Header", "required": true}, {"name": "footer", "type": "boolean", "label": "Insert a Footer", "required": true}, {"name": "folderId", "type": "folder", "label": "New Document's Location", "required": true}], "restore": {"expect": {"folderId": {"mode": "edit", "path": []}, "destination": {"label": "My Drive"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Recruiting Now KI Koordinator (ki.koordinator@recruiting-now.de)"}}}, "advanced": true, "designer": {"x": 900, "y": 600}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10941496}}, {"id": 68, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 48, "mapper": {"actorId": "aYG0l9s7dbB7j3gbS", "runSync": true, "actor_search_type": "store", "inputBodyaYG0l9s7dbB7j3gbS": "{\r\n  \"startUrls\": [\r\n    { \"url\": \"{{13.norm_url}}\" }\r\n  ],\r\n\r\n  \"linkSelector\": \"a[href]\",\r\n\r\n  \"includeUrlGlobs\": [\r\n    \"*/uber-uns*\",\r\n    \"*/ueber-uns*\",\r\n    \"*/about*\",\r\n    \"*/unternehmen*\",\r\n    \"*/karriere*\",\r\n    \"*/jobs*\",\r\n    \"*/benefits*\"\r\n  ],\r\n\r\n  \"crawlerType\": \"playwright:adaptive\",\r\n  \"maxCrawlPages\": 10,\r\n  \"maxCrawlDepth\": 3,\r\n\r\n  \"proxyConfiguration\": { \"useApifyProxy\": true },\r\n\r\n  \"pageFunction\": \"async function pageFunction(context) {\\n  const { request, page, log } = context;\\n  // St\u00f6relemente entfernen\\n  const toRemove = ['nav','footer','script','style','noscript','svg','img[src^=\\\"data:\\\"]'];\\n  try {\\n    await page.evaluate((sel) => {\\n      sel.forEach(s => { document.querySelectorAll(s).forEach(el => el.remove()); });\\n    }, toRemove);\\n  } catch (e) {\\n    log.debug('Cleanup skipped: ' + e.message);\\n  }\\n\\n  // Lesbaren Text holen\\n  const text = await page.evaluate(() => (document.body.innerText || '')\\n    .replace(/\\\\s+/g, ' ')  // Whitespace gl\u00e4tten\\n    .trim());\\n\\n  // Alle Links auslesen\\n  const allLinks = await page.$$eval('a[href]', as => as.map(a => a.href).filter(Boolean));\\n\\n  // Social Links filtern\\n  const socialRe = /(linkedin\\\\.com\\\\/company|facebook\\\\.com|instagram\\\\.com|twitter\\\\.com|x\\\\.com|youtube\\\\.com|kununu\\\\.com|xing\\\\.com|tiktok\\\\.com)/i;\\n  const socialLinks = Array.from(new Set(allLinks.filter(h => socialRe.test(h))));\\n\\n  return {\\n    url: request.url,\\n    text,\\n    socialLinks\\n  };\\n}\",\r\n\r\n  \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:']\"\r\n}\r\n"}, "module": "apify:runActorNew", "version": 1, "metadata": {"expect": [{"name": "actor_search_type", "type": "select", "label": "Search Actors from", "required": true, "validate": {"enum": ["user", "store"]}}, {"name": "runSync", "type": "boolean", "label": "Run synchronously", "required": true}, {"name": "build", "type": "text", "label": "Build"}, {"name": "timeout", "type": "uinteger", "label": "Timeout"}, {"name": "memory", "type": "select", "label": "Memory", "validate": {"enum": [128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768]}}, {"name": "actorId", "type": "select", "label": "Actor", "required": true}, {"name": "inputBodyaYG0l9s7dbB7j3gbS", "type": "text", "label": "Input JSON", "required": true}, {"name": "maxTotalChargeUsd", "type": "hidden", "label": "Maximum cost per run"}, {"name": "maxItems", "type": "hidden", "label": "Maximum charged results"}], "restore": {"expect": {"memory": {"mode": "chose", "label": "Empty"}, "actorId": {"mode": "chose", "label": "Website Content Crawler (apify/website-content-crawler)"}, "runSync": {"mode": "chose"}, "actor_search_type": {"label": "Apify Store Actors"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "apify"}, "label": "My Apify API Token connection (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 1500, "y": 300}, "parameters": [{"name": "__IMTCONN__", "type": "account:apify2,apify", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10942194}}, {"id": 61, "mapper": {"type": "clean", "limit": "200", "format": "json", "datasetId": "{{48.defaultDatasetId}}"}, "module": "apify:fetchDatasetItems", "version": 1, "metadata": {"expect": [{"name": "datasetId", "type": "text", "label": "Dataset ID", "required": true}, {"name": "type", "type": "select", "label": "Data transformation", "required": true, "validate": {"enum": ["clean", "simplified", "none"]}}, {"name": "format", "type": "select", "label": "Format", "required": true, "validate": {"enum": ["json", "csv", "html", "xml", "rss", "xlsx"]}}, {"name": "limit", "type": "uinteger", "label": "Limit", "validate": {"max": 100000, "min": 1}}, {"name": "offset", "type": "uinteger", "label": "Offset", "validate": {"min": 0}}], "restore": {"expect": {"type": {"mode": "chose", "label": "Clean"}, "format": {"mode": "chose", "label": "JSON"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "apify"}, "label": "My Apify API Token connection (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 1800, "y": 300}, "parameters": [{"name": "__IMTCONN__", "type": "account:apify2,apify", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10942194}}, {"id": 67, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 62, "mapper": {"text": "{{61.text}}"}, "module": "builtin:BasicAggregator", "version": 1, "metadata": {"restore": {"extra": {"feeder": {"label": "Apify - Get Dataset Items [61]"}, "target": {"label": "Custom"}}}, "designer": {"x": 2400, "y": 0}}, "parameters": {"feeder": 61}}, {"id": 50, "mapper": {"name": "aggregated_text", "scope": "roundtrip", "value": "{{62.array[].text}}"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "advanced": true, "designer": {"x": 2700, "y": 0}, "interface": [{"name": "aggregated_text", "type": "any", "label": "aggregated_text"}]}, "parameters": {}}, {"id": 7, "mapper": {"model": "gemini-2.5-flash", "contents": [{"role": "user", "parts": [{"text": "Erstelle eine kurze, ansprechende Arbeitgeberbeschreibung als Flie\u00dftext auf Basis des folgenden Inhalts: {{50.aggregated_text}}\n\r\n- Nenne ein paar Vorteile f\u00fcr Mitarbeiter\r\n\nKeine Formatierungen oder Markdown, Markup. Echte Zeilenumbr\u00fcche, keine \\n; keine Kommentare\r\n\r\nDer Text muss lesefertig sein und sich direkt an Bewerber:innen richten.\r\n", "type": "text"}]}], "generationConfig": {"thinkingConfig": {}, "responseModalities": ["text"]}, "system_instruction": {}}, "module": "gemini-ai:createACompletionGeminiPro", "version": 1, "metadata": {"expect": [{"name": "model", "type": "select", "label": "AI Model", "required": true}, {"name": "contents", "spec": [{"name": "role", "type": "select", "label": "Role", "options": [{"label": "User", "value": "user"}, {"label": "Model", "value": "model"}]}, {"name": "parts", "spec": [{"name": "type", "type": "select", "label": "Message Type", "options": [{"label": "Text", "value": "text", "nested": [{"name": "text", "type": "text", "label": "Text", "required": false}]}, {"label": "File", "value": "file", "nested": [{"name": "file_data", "spec": [{"name": "mime_type", "type": "text", "label": "Mime Type", "required": false}, {"help": "You get this from the 'Upload a File' module.", "name": "file_uri", "type": "text", "label": "File URI", "required": false}], "type": "collection", "label": "File Data", "required": false}]}]}], "type": "array", "label": "Parts"}], "type": "array", "label": "Messages", "required": true}, {"name": "system_instruction", "spec": [{"name": "parts", "spec": {"name": "value", "spec": [{"name": "text", "type": "text", "label": "Value"}], "type": "collection", "label": "Prompt"}, "type": "array", "label": "Prompts"}], "type": "collection", "label": "System Instructions"}, {"name": "safetySettings", "spec": [{"name": "category", "type": "select", "label": "Category", "options": [{"label": "Harassment content", "value": "HARM_CATEGORY_HARASSMENT"}, {"label": "Hate speech and content", "value": "HARM_CATEGORY_HATE_SPEECH"}, {"label": "Sexually explicit content.", "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"}, {"label": "Dangerous content:", "value": "HARM_CATEGORY_DANGEROUS_CONTENT"}]}, {"name": "threshold", "type": "select", "label": "Threshold", "options": [{"label": "Block low and above.", "value": "BLOCK_LOW_AND_ABOVE"}, {"label": "Block medium and above.", "value": "BLOCK_MEDIUM_AND_ABOVE"}, {"label": "Block only high.", "value": "BLOCK_ONLY_HIGH"}, {"label": "Block none.", "value": "BLOCK_NONE"}]}], "type": "array", "label": "Safety Settings"}, {"name": "generationConfig", "spec": [{"name": "stopSequences", "spec": {"name": "value", "type": "text", "label": "Stop Sequence"}, "type": "array", "label": "Stop Sequences"}, {"name": "responseModalities", "type": "select", "label": "Response Modalities", "multiple": true, "validate": {"enum": ["text", "image"]}}, {"name": "maxOutputTokens", "type": "number", "label": "Max Output Tokens"}, {"name": "temperature", "type": "number", "label": "Temperature", "validate": {"max": 1, "min": 0}}, {"name": "topP", "type": "number", "label": "Top P", "validate": {"max": 1, "min": 0}}, {"name": "topK", "type": "number", "label": "Top K"}, {"name": "thinkingConfig", "spec": [{"name": "thinkingBudget", "type": "number", "label": "Thinking Budget"}, {"name": "include_thoughts", "type": "boolean", "label": "Include Thoughts"}], "type": "collection", "label": "Thinking Config"}, {"name": "responseMimeType", "type": "select", "label": "Response Mime Type"}], "type": "collection", "label": "Generation configurations"}, {"name": "tools", "type": "any", "label": "Tools"}, {"name": "tool_config", "type": "any", "label": "Tool Config"}, {"name": "url_context", "type": "boolean", "label": "URL Context"}, {"name": "google_search_context", "type": "boolean", "label": "Google Search Grounding"}, {"name": "code_execution", "type": "boolean", "label": "Code Execution"}], "restore": {"expect": {"model": {"mode": "chose", "label": "Gemini 2.5 Flash"}, "contents": {"mode": "chose", "items": [{"role": {"mode": "chose", "label": "User"}, "parts": {"mode": "chose", "items": [{"type": {"mode": "chose", "label": "Text"}}]}}]}, "url_context": {"mode": "chose"}, "code_execution": {"mode": "chose"}, "safetySettings": {"mode": "chose"}, "generationConfig": {"nested": {"stopSequences": {"mode": "chose"}, "thinkingConfig": {"nested": {"include_thoughts": {"mode": "chose"}}}, "responseMimeType": {"mode": "chose", "label": "Empty"}, "responseModalities": {"mode": "chose"}}}, "system_instruction": {"nested": {"parts": {"mode": "chose"}}}, "google_search_context": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "gemini-ai-q9zyjp"}, "label": "My Gemini AI connection"}}}, "advanced": true, "designer": {"x": 3000, "y": 0}, "interface": [{"name": "result", "type": "text", "label": "Result"}, {"name": "candidates", "spec": {"spec": [{"name": "content", "spec": [{"name": "parts", "spec": {"spec": [{"name": "text", "type": "text", "label": "Text"}], "type": "collection"}, "type": "array", "label": "Parts"}, {"name": "role", "type": "text", "label": "Role"}], "type": "collection", "label": "Content"}, {"name": "finishReason", "type": "text", "label": "Finish Reason"}, {"name": "index", "type": "number", "label": "Index"}, {"name": "safetyRatings", "spec": {"spec": [{"name": "category", "type": "text", "label": "Category"}, {"name": "probability", "type": "text", "label": "Probability"}], "type": "collection"}, "type": "array", "label": "Safety Ratings"}], "type": "collection"}, "type": "array", "label": "Candidates"}, {"name": "usageMetadata", "spec": [{"name": "promptTokenCount", "type": "number", "label": "Prompt Token Count"}, {"name": "candidatesTokenCount", "type": "number", "label": "Candidates Token Count"}, {"name": "totalTokenCount", "type": "number", "label": "Total Token Count"}], "type": "collection", "label": "Usage Metadata"}], "parameters": [{"name": "__IMTCONN__", "type": "account:gemini-ai-q9zyjp", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10945047}}, {"id": 41, "mapper": {"model": "gemini-1.5-flash", "contents": [{"role": "user", "parts": [{"text": "Analysiere den folgenden Website-Text und extrahiere alle Mitarbeiter-Benefits bzw. Arbeitgeberleistungen oder Vorteile f\u00fcr Mitarbeiter.\r\n\r\nFormatiere das Ergebnis **ausschlie\u00dflich** als Bullet-Point-Liste in deutscher Sprache.\r\n\r\nBeispiele:\r\n- Home-Office\r\n- 30 Urlaubstage\r\n- Betriebliche Altersvorsorge\r\n- Weiterbildungsm\u00f6glichkeiten\n- Weihnachtsgeld\n- Urlaubsgeld\n- Verm\u00f6genswirksame Leistungen\n\nWenn im Text keine Benefits zu finden sind, gib nur einen Eintrag zur\u00fcck:\n\r\n- Kein Benefit gefunden auf {{parseJSON(11.value).website}}\r\n\r\nAntwort: Gib nur die Liste aus, keine zus\u00e4tzlichen Kommentare, keine Erkl\u00e4rungen.\r\n\r\nWebsite-Inhalt:\r\n{{50.aggregated_text}}", "type": "text"}]}], "generationConfig": {"temperature": "0.2", "thinkingConfig": {}, "responseModalities": ["text"]}, "system_instruction": {}}, "module": "gemini-ai:createACompletionGeminiPro", "version": 1, "metadata": {"expect": [{"name": "model", "type": "select", "label": "AI Model", "required": true}, {"name": "contents", "spec": [{"name": "role", "type": "select", "label": "Role", "options": [{"label": "User", "value": "user"}, {"label": "Model", "value": "model"}]}, {"name": "parts", "spec": [{"name": "type", "type": "select", "label": "Message Type", "options": [{"label": "Text", "value": "text", "nested": [{"name": "text", "type": "text", "label": "Text", "required": false}]}, {"label": "File", "value": "file", "nested": [{"name": "file_data", "spec": [{"name": "mime_type", "type": "text", "label": "Mime Type", "required": false}, {"help": "You get this from the 'Upload a File' module.", "name": "file_uri", "type": "text", "label": "File URI", "required": false}], "type": "collection", "label": "File Data", "required": false}]}]}], "type": "array", "label": "Parts"}], "type": "array", "label": "Messages", "required": true}, {"name": "system_instruction", "spec": [{"name": "parts", "spec": {"name": "value", "spec": [{"name": "text", "type": "text", "label": "Value"}], "type": "collection", "label": "Prompt"}, "type": "array", "label": "Prompts"}], "type": "collection", "label": "System Instructions"}, {"name": "safetySettings", "spec": [{"name": "category", "type": "select", "label": "Category", "options": [{"label": "Harassment content", "value": "HARM_CATEGORY_HARASSMENT"}, {"label": "Hate speech and content", "value": "HARM_CATEGORY_HATE_SPEECH"}, {"label": "Sexually explicit content.", "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"}, {"label": "Dangerous content:", "value": "HARM_CATEGORY_DANGEROUS_CONTENT"}]}, {"name": "threshold", "type": "select", "label": "Threshold", "options": [{"label": "Block low and above.", "value": "BLOCK_LOW_AND_ABOVE"}, {"label": "Block medium and above.", "value": "BLOCK_MEDIUM_AND_ABOVE"}, {"label": "Block only high.", "value": "BLOCK_ONLY_HIGH"}, {"label": "Block none.", "value": "BLOCK_NONE"}]}], "type": "array", "label": "Safety Settings"}, {"name": "generationConfig", "spec": [{"name": "stopSequences", "spec": {"name": "value", "type": "text", "label": "Stop Sequence"}, "type": "array", "label": "Stop Sequences"}, {"name": "responseModalities", "type": "select", "label": "Response Modalities", "multiple": true, "validate": {"enum": ["text", "image"]}}, {"name": "maxOutputTokens", "type": "number", "label": "Max Output Tokens"}, {"name": "temperature", "type": "number", "label": "Temperature", "validate": {"max": 1, "min": 0}}, {"name": "topP", "type": "number", "label": "Top P", "validate": {"max": 1, "min": 0}}, {"name": "topK", "type": "number", "label": "Top K"}, {"name": "thinkingConfig", "spec": [{"name": "thinkingBudget", "type": "number", "label": "Thinking Budget"}, {"name": "include_thoughts", "type": "boolean", "label": "Include Thoughts"}], "type": "collection", "label": "Thinking Config"}, {"name": "responseMimeType", "type": "select", "label": "Response Mime Type"}], "type": "collection", "label": "Generation configurations"}, {"name": "tools", "type": "any", "label": "Tools"}, {"name": "tool_config", "type": "any", "label": "Tool Config"}, {"name": "url_context", "type": "boolean", "label": "URL Context"}, {"name": "google_search_context", "type": "boolean", "label": "Google Search Grounding"}, {"name": "code_execution", "type": "boolean", "label": "Code Execution"}], "restore": {"expect": {"model": {"mode": "chose", "label": "Gemini 1.5 Flash"}, "contents": {"mode": "chose", "items": [{"role": {"mode": "chose", "label": "User"}, "parts": {"mode": "chose", "items": [{"type": {"mode": "chose", "label": "Text"}}]}}]}, "url_context": {"mode": "chose"}, "code_execution": {"mode": "chose"}, "safetySettings": {"mode": "chose"}, "generationConfig": {"nested": {"stopSequences": {"mode": "chose"}, "thinkingConfig": {"nested": {"include_thoughts": {"mode": "chose"}}}, "responseMimeType": {"mode": "chose", "label": "Empty"}, "responseModalities": {"mode": "chose"}}}, "system_instruction": {"nested": {"parts": {"mode": "chose"}}}, "google_search_context": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "gemini-ai-q9zyjp"}, "label": "My Gemini AI connection"}}}, "advanced": true, "designer": {"x": 3300, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:gemini-ai-q9zyjp", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10945047}}, {"id": 42, "mapper": {"model": "gemini-1.5-flash", "contents": [{"role": "user", "parts": [{"text": "Hier sind Benefits, die auf einer Firmenwebsite gefunden wurden:\r\n\n{{41.result}}\r\nVergleiche diese mit folgender Masterliste von Plattform-Benefits:\r\n\r\n[\"Kantine\",\r\n\"Fortbildungen\",\r\n\"flexible Arbeitszeiten\",\r\n\"Fahrtkostenerstattung\",\r\n\"Firmenwagen\",\r\n\"Essenszulage\",\r\n\"Kinderbetreuung\",\r\n\"Homeoffice\",\r\n\"Mitarbeiter Events\",\r\n\"Arbeitskleidung wird gestellt\",\r\n\"bezahlte Ausbildungsm\u00f6glichkeiten\",\r\n\"Mitarbeiterbeteiligung\",\r\n\"Mitarbeiterhandy\",\r\n\"Mitarbeiterrabatte\",\r\n\"Private Internetnutzung erlaubt\",\r\n\"Parkplatz\",\r\n\"betriebliche Altersvorsorge\",\r\n\"Gesundheitsma\u00dfnahmen\",\r\n\"Betriebsarzt\",\r\n\"Coaching\",\r\n\"gute Verkehrsanbindung\",\r\n\"barrierefrei\",\r\n\"Hunde geduldet\"]\r\n\r\nFormatiere das Ergebnis als eine Markdown-Tabelle mit 2 Spalten:  \r\n- Spalte 1: Gefunden  \r\n- Spalte 2: Plattform-Match  \r\n\r\n\u26a0\ufe0f Wichtige Regel:\r\nGib **nur** eine Markdown-Tabelle mit zwei Spalten zur\u00fcck:\r\n- Spalte 1: Gefunden\r\n- Spalte 2: Plattform-Match\r\n\r\nWenn keine Benefits gefunden werden, gib **nur** eine leere Tabellenzeile mit \u201eGefunden \u2192 Kein Match\u201c zur\u00fcck.  \r\nKeine Erkl\u00e4rungen, keine Kommentare, kein Flie\u00dftext.\r\n", "type": "text"}]}], "generationConfig": {"thinkingConfig": {}}, "system_instruction": {}}, "module": "gemini-ai:createACompletionGeminiPro", "version": 1, "metadata": {"expect": [{"name": "model", "type": "select", "label": "AI Model", "required": true}, {"name": "contents", "spec": [{"name": "role", "type": "select", "label": "Role", "options": [{"label": "User", "value": "user"}, {"label": "Model", "value": "model"}]}, {"name": "parts", "spec": [{"name": "type", "type": "select", "label": "Message Type", "options": [{"label": "Text", "value": "text", "nested": [{"name": "text", "type": "text", "label": "Text", "required": false}]}, {"label": "File", "value": "file", "nested": [{"name": "file_data", "spec": [{"name": "mime_type", "type": "text", "label": "Mime Type", "required": false}, {"help": "You get this from the 'Upload a File' module.", "name": "file_uri", "type": "text", "label": "File URI", "required": false}], "type": "collection", "label": "File Data", "required": false}]}]}], "type": "array", "label": "Parts"}], "type": "array", "label": "Messages", "required": true}, {"name": "system_instruction", "spec": [{"name": "parts", "spec": {"name": "value", "spec": [{"name": "text", "type": "text", "label": "Value"}], "type": "collection", "label": "Prompt"}, "type": "array", "label": "Prompts"}], "type": "collection", "label": "System Instructions"}, {"name": "safetySettings", "spec": [{"name": "category", "type": "select", "label": "Category", "options": [{"label": "Harassment content", "value": "HARM_CATEGORY_HARASSMENT"}, {"label": "Hate speech and content", "value": "HARM_CATEGORY_HATE_SPEECH"}, {"label": "Sexually explicit content.", "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"}, {"label": "Dangerous content:", "value": "HARM_CATEGORY_DANGEROUS_CONTENT"}]}, {"name": "threshold", "type": "select", "label": "Threshold", "options": [{"label": "Block low and above.", "value": "BLOCK_LOW_AND_ABOVE"}, {"label": "Block medium and above.", "value": "BLOCK_MEDIUM_AND_ABOVE"}, {"label": "Block only high.", "value": "BLOCK_ONLY_HIGH"}, {"label": "Block none.", "value": "BLOCK_NONE"}]}], "type": "array", "label": "Safety Settings"}, {"name": "generationConfig", "spec": [{"name": "stopSequences", "spec": {"name": "value", "type": "text", "label": "Stop Sequence"}, "type": "array", "label": "Stop Sequences"}, {"name": "responseModalities", "type": "select", "label": "Response Modalities", "multiple": true, "validate": {"enum": ["text", "image"]}}, {"name": "maxOutputTokens", "type": "number", "label": "Max Output Tokens"}, {"name": "temperature", "type": "number", "label": "Temperature", "validate": {"max": 1, "min": 0}}, {"name": "topP", "type": "number", "label": "Top P", "validate": {"max": 1, "min": 0}}, {"name": "topK", "type": "number", "label": "Top K"}, {"name": "thinkingConfig", "spec": [{"name": "thinkingBudget", "type": "number", "label": "Thinking Budget"}, {"name": "include_thoughts", "type": "boolean", "label": "Include Thoughts"}], "type": "collection", "label": "Thinking Config"}, {"name": "responseMimeType", "type": "select", "label": "Response Mime Type"}], "type": "collection", "label": "Generation configurations"}, {"name": "tools", "type": "any", "label": "Tools"}, {"name": "tool_config", "type": "any", "label": "Tool Config"}, {"name": "url_context", "type": "boolean", "label": "URL Context"}, {"name": "google_search_context", "type": "boolean", "label": "Google Search Grounding"}, {"name": "code_execution", "type": "boolean", "label": "Code Execution"}], "restore": {"expect": {"model": {"mode": "chose", "label": "Gemini 1.5 Flash"}, "contents": {"mode": "chose", "items": [{"role": {"mode": "chose", "label": "User"}, "parts": {"mode": "chose", "items": [{"type": {"mode": "chose", "label": "Text"}}]}}]}, "url_context": {"mode": "chose"}, "code_execution": {"mode": "chose"}, "safetySettings": {"mode": "chose"}, "generationConfig": {"nested": {"stopSequences": {"mode": "chose"}, "thinkingConfig": {"nested": {"include_thoughts": {"mode": "chose"}}}, "responseMimeType": {"mode": "chose", "label": "Empty"}, "responseModalities": {"mode": "chose"}}}, "system_instruction": {"nested": {"parts": {"mode": "chose"}}}, "google_search_context": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "gemini-ai-q9zyjp"}, "label": "My Gemini AI connection"}}}, "advanced": true, "designer": {"x": 3600, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:gemini-ai-q9zyjp", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10945047}}, {"id": 27, "mapper": {"text": "\nArbeitgeber Profil Text\n{{7.result}}", "choose": "mapping", "select": "document", "document": "{{26.id}}"}, "module": "google-docs:appendADocument", "version": 1, "metadata": {"expect": [{"name": "choose", "type": "select", "label": "Select a Document", "required": true, "validate": {"enum": ["mapping", "dropdown"]}}, {"name": "document", "type": "text", "label": "Document ID", "required": true}, {"name": "select", "type": "select", "label": "Insert a Paragraph", "required": true, "validate": {"enum": ["location", "document", "segment"]}}, {"name": "text", "type": "text", "label": "Appended Text", "required": true}], "restore": {"expect": {"choose": {"label": "By Mapping"}, "select": {"label": "By appending to the body of document"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Recruiting Now KI Koordinator (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 3900, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10941496}}, {"id": 51, "mapper": {"text": "\n\nBenefits auf der Website\n{{41.result}}", "choose": "mapping", "select": "document", "document": "{{26.id}}"}, "module": "google-docs:appendADocument", "version": 1, "metadata": {"expect": [{"name": "choose", "type": "select", "label": "Select a Document", "required": true, "validate": {"enum": ["mapping", "dropdown"]}}, {"name": "document", "type": "text", "label": "Document ID", "required": true}, {"name": "select", "type": "select", "label": "Insert a Paragraph", "required": true, "validate": {"enum": ["location", "document", "segment"]}}, {"name": "text", "type": "text", "label": "Appended Text", "required": true}], "restore": {"expect": {"choose": {"label": "By Mapping"}, "select": {"label": "By appending to the body of document"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Recruiting Now KI Koordinator (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 4200, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10941496}}, {"id": 28, "mapper": {"text": "\n\nBenefits Match\n{{42.result}}", "choose": "mapping", "select": "document", "document": "{{26.id}}"}, "module": "google-docs:appendADocument", "version": 1, "metadata": {"expect": [{"name": "choose", "type": "select", "label": "Select a Document", "required": true, "validate": {"enum": ["mapping", "dropdown"]}}, {"name": "document", "type": "text", "label": "Document ID", "required": true}, {"name": "select", "type": "select", "label": "Insert a Paragraph", "required": true, "validate": {"enum": ["location", "document", "segment"]}}, {"name": "text", "type": "text", "label": "Appended Text", "required": true}], "restore": {"expect": {"choose": {"label": "By Mapping"}, "select": {"label": "By appending to the body of document"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Recruiting Now KI Koordinator (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 4500, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10941496}}]}, {"flow": [{"id": 66, "mapper": {"crawl": "{{61.crawl}}"}, "module": "builtin:BasicAggregator", "version": 1, "metadata": {"restore": {"extra": {"feeder": {"label": "Apify - Get Dataset Items [61]"}, "target": {"label": "Custom"}}}, "designer": {"x": 2400, "y": 300}}, "parameters": {"feeder": 61}}, {"id": 58, "mapper": {"model": "gemini-1.5-flash", "contents": [{"role": "user", "parts": [{"text": "Extract all social media profile URLs from the following text.\nText:{{66.array[].crawl}}\n\n\nRules:\n- Identify URLs for Facebook, LinkedIn, Instagram, X (Twitter), YouTube, TikTok, Xing, Kununu, and Glassdoor.\n- Output the links in a clean JSON object, without any other text or markdown.\n- Example output: {\"LinkedIn\": \"https://www.linkedin.com/company/example\", \"Facebook\": \"https://www.facebook.com/example\"}\nIf a link for a platform is not found, its value should be null.", "type": "text"}]}], "generationConfig": {"thinkingConfig": {}}, "system_instruction": {}}, "module": "gemini-ai:createACompletionGeminiPro", "version": 1, "metadata": {"expect": [{"name": "model", "type": "select", "label": "AI Model", "required": true}, {"name": "contents", "spec": [{"name": "role", "type": "select", "label": "Role", "options": [{"label": "User", "value": "user"}, {"label": "Model", "value": "model"}]}, {"name": "parts", "spec": [{"name": "type", "type": "select", "label": "Message Type", "options": [{"label": "Text", "value": "text", "nested": [{"name": "text", "type": "text", "label": "Text", "required": false}]}, {"label": "File", "value": "file", "nested": [{"name": "file_data", "spec": [{"name": "mime_type", "type": "text", "label": "Mime Type", "required": false}, {"help": "You get this from the 'Upload a File' module.", "name": "file_uri", "type": "text", "label": "File URI", "required": false}], "type": "collection", "label": "File Data", "required": false}]}]}], "type": "array", "label": "Parts"}], "type": "array", "label": "Messages", "required": true}, {"name": "system_instruction", "spec": [{"name": "parts", "spec": {"name": "value", "spec": [{"name": "text", "type": "text", "label": "Value"}], "type": "collection", "label": "Prompt"}, "type": "array", "label": "Prompts"}], "type": "collection", "label": "System Instructions"}, {"name": "safetySettings", "spec": [{"name": "category", "type": "select", "label": "Category", "options": [{"label": "Harassment content", "value": "HARM_CATEGORY_HARASSMENT"}, {"label": "Hate speech and content", "value": "HARM_CATEGORY_HATE_SPEECH"}, {"label": "Sexually explicit content.", "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"}, {"label": "Dangerous content:", "value": "HARM_CATEGORY_DANGEROUS_CONTENT"}]}, {"name": "threshold", "type": "select", "label": "Threshold", "options": [{"label": "Block low and above.", "value": "BLOCK_LOW_AND_ABOVE"}, {"label": "Block medium and above.", "value": "BLOCK_MEDIUM_AND_ABOVE"}, {"label": "Block only high.", "value": "BLOCK_ONLY_HIGH"}, {"label": "Block none.", "value": "BLOCK_NONE"}]}], "type": "array", "label": "Safety Settings"}, {"name": "generationConfig", "spec": [{"name": "stopSequences", "spec": {"name": "value", "type": "text", "label": "Stop Sequence"}, "type": "array", "label": "Stop Sequences"}, {"name": "responseModalities", "type": "select", "label": "Response Modalities", "multiple": true, "validate": {"enum": ["text", "image"]}}, {"name": "maxOutputTokens", "type": "number", "label": "Max Output Tokens"}, {"name": "temperature", "type": "number", "label": "Temperature", "validate": {"max": 1, "min": 0}}, {"name": "topP", "type": "number", "label": "Top P", "validate": {"max": 1, "min": 0}}, {"name": "topK", "type": "number", "label": "Top K"}, {"name": "thinkingConfig", "spec": [{"name": "thinkingBudget", "type": "number", "label": "Thinking Budget"}, {"name": "include_thoughts", "type": "boolean", "label": "Include Thoughts"}], "type": "collection", "label": "Thinking Config"}, {"name": "responseMimeType", "type": "select", "label": "Response Mime Type"}], "type": "collection", "label": "Generation configurations"}, {"name": "tools", "type": "any", "label": "Tools"}, {"name": "tool_config", "type": "any", "label": "Tool Config"}, {"name": "url_context", "type": "boolean", "label": "URL Context"}, {"name": "google_search_context", "type": "boolean", "label": "Google Search Grounding"}, {"name": "code_execution", "type": "boolean", "label": "Code Execution"}], "restore": {"expect": {"model": {"mode": "chose", "label": "Gemini 1.5 Flash"}, "contents": {"mode": "chose", "items": [{"role": {"mode": "chose", "label": "User"}, "parts": {"mode": "chose", "items": [{"type": {"mode": "chose", "label": "Text"}}]}}]}, "url_context": {"mode": "chose"}, "code_execution": {"mode": "chose"}, "safetySettings": {"mode": "chose"}, "generationConfig": {"nested": {"stopSequences": {"mode": "chose"}, "thinkingConfig": {"nested": {"include_thoughts": {"mode": "chose"}}}, "responseMimeType": {"mode": "chose", "label": "Empty"}, "responseModalities": {"mode": "chose"}}}, "system_instruction": {"nested": {"parts": {"mode": "chose"}}}, "google_search_context": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "gemini-ai-q9zyjp"}, "label": "My Gemini AI connection"}}}, "designer": {"x": 2700, "y": 300}, "parameters": [{"name": "__IMTCONN__", "type": "account:gemini-ai-q9zyjp", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10945047}}, {"id": 59, "mapper": {"text": "{{58.result}}", "choose": "mapping", "select": "document", "document": "{{26.id}}"}, "module": "google-docs:appendADocument", "version": 1, "metadata": {"expect": [{"name": "choose", "type": "select", "label": "Select a Document", "required": true, "validate": {"enum": ["mapping", "dropdown"]}}, {"name": "document", "type": "text", "label": "Document ID", "required": true}, {"name": "select", "type": "select", "label": "Insert a Paragraph", "required": true, "validate": {"enum": ["location", "document", "segment"]}}, {"name": "text", "type": "text", "label": "Appended Text", "required": true}], "restore": {"expect": {"choose": {"label": "By Mapping"}, "select": {"label": "By appending to the body of document"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Recruiting Now KI Koordinator (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 3000, "y": 300}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10941496}}]}, {"flow": [{"id": null, "module": "placeholder:Placeholder", "metadata": {"designer": {"x": 2400, "y": 600}}}]}], "version": 1, "metadata": {"designer": {"x": 2100, "y": 300}}}]}, {"flow": [{"id": 70, "mapper": {"ca": "", "qs": [], "url": "https://api.brandfetch.io/v2/brands/{{13.norm_url}}", "gzip": true, "method": "get", "headers": [{"name": "Authorization", "value": "Bearer ZbtpO0+e0kVS6JnbDJ/ZNTsgc+ZErXpOkdr76krdQ6A="}], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "qs", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Query String"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}, {"name": "authUser", "type": "text", "label": "User name"}, {"name": "authPass", "type": "password", "label": "Password"}, {"name": "timeout", "type": "uinteger", "label": "Timeout", "validate": {"max": 300, "min": 1}}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules", "required": true}, {"name": "ca", "type": "cert", "label": "Self-signed certificate"}, {"name": "rejectUnauthorized", "type": "boolean", "label": "Reject connections that are using unverified (self-signed) certificates", "required": true}, {"name": "followRedirect", "type": "boolean", "label": "Follow redirect", "required": true}, {"name": "useQuerystring", "type": "boolean", "label": "Disable serialization of multiple same query string keys as arrays", "required": true}, {"name": "gzip", "type": "boolean", "label": "Request compressed content", "required": true}, {"name": "useMtls", "type": "boolean", "label": "Use Mutual TLS", "required": true}, {"name": "followAllRedirects", "type": "boolean", "label": "Follow all redirect", "required": true}], "restore": {"expect": {"qs": {"mode": "chose"}, "method": {"mode": "chose", "label": "GET"}, "headers": {"mode": "chose", "items": [null]}, "bodyType": {"label": "Empty"}}}, "designer": {"x": 1500, "y": 900}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 73, "filter": {"name": "api logo erfolgreich", "conditions": [[{"a": "{{70.statusCode}}", "b": "200", "o": "text:equal"}]]}, "mapper": {"array": "{{70.data}}"}, "module": "builtin:BasicFeeder", "version": 1, "metadata": {"expect": [{"mode": "edit", "name": "array", "spec": [], "type": "array", "label": "Array"}], "restore": {"expect": {"array": {"mode": "edit"}}}, "designer": {"x": 1800, "y": 900}}, "parameters": {}}, {"id": 74, "filter": {"name": "logo format", "conditions": [[{"a": "{{`73`}}", "b": "", "o": "text:contain:ci"}]]}, "mapper": {"url": "{{73.value}}", "method": "get", "serializeUrl": false, "shareCookies": false}, "module": "http:ActionGetFile", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL", "required": true}, {"name": "method", "type": "hidden", "label": "Method"}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules", "required": true}], "restore": {}, "designer": {"x": 2100, "y": 900}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}]}, "parameters": {"handleErrors": false}}, {"id": 75, "mapper": {"data": "{{74.data}}", "select": "map", "convert": false, "filename": "{{74.fileName}}", "folderId": "{{25.id}}"}, "module": "google-drive:uploadAFile", "version": 4, "metadata": {"expect": [{"type": "hidden"}, {"name": "select", "type": "select", "label": "Enter a Folder ID", "required": true, "validate": {"enum": ["map", "value"]}}, {"name": "title", "type": "text", "label": "New File Name"}, {"name": "filename", "type": "text", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "convert", "type": "boolean", "label": "Convert a File", "required": true}, {"name": "folderId", "type": "text", "label": "Folder ID", "required": true}], "restore": {"expect": {"select": {"label": "Enter manually"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-restricted"}, "label": "ki koordinator (ki.koordinator@recruiting-now.de)"}}}, "advanced": true, "designer": {"x": 2400, "y": 900}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-restricted", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 7740843}}, {"id": 69, "mapper": {"name": "LogoURL", "scope": "roundtrip", "value": ""}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "advanced": true, "designer": {"x": 2700, "y": 900}, "interface": [{"name": "LogoURL", "type": "any", "label": "LogoURL"}]}, "parameters": {}}]}, {"flow": [{"id": 71, "mapper": {"actorId": "moJRLRc85AitArpNN", "runSync": true, "actor_search_type": "user", "inputBodymoJRLRc85AitArpNN": "{\r\n  \"startUrls\": [\r\n    {\r\n      \"url\": \"{{13.norm_url}}\"\r\n    }\r\n  ],\r\n  \"pageFunction\": \"async function pageFunction(context) { const { request, $ } = context; const results = []; const logoSelectors = ['img[src*=\\\\\\\"logo\\\\\\\"]', 'img[alt*=\\\\\\\"logo\\\\\\\"]', 'img[class*=\\\\\\\"logo\\\\\\\"]', 'a[href=\\\\\\\"/\\\\\\\"] img']; for (const selector of logoSelectors) { $(selector).each((index, element) => { let logoUrl = $(element).attr('src'); if (logoUrl) { try { const absoluteUrl = new URL(logoUrl, request.loadedUrl).href; results.push({ logoUrl: absoluteUrl }); } catch (e) { // Ignore invalid URLs } } }); } return results; }\"\r\n}"}, "module": "apify:runActorNew", "version": 1, "metadata": {"expect": [{"name": "actor_search_type", "type": "select", "label": "Search Actors from", "required": true, "validate": {"enum": ["user", "store"]}}, {"name": "runSync", "type": "boolean", "label": "Run synchronously", "required": true}, {"name": "build", "type": "text", "label": "Build"}, {"name": "timeout", "type": "uinteger", "label": "Timeout"}, {"name": "memory", "type": "select", "label": "Memory", "validate": {"enum": [128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768]}}, {"name": "actorId", "type": "select", "label": "Actor", "required": true}, {"name": "inputBodymoJRLRc85AitArpNN", "type": "text", "label": "Input JSON", "required": true}, {"name": "maxTotalChargeUsd", "type": "hidden", "label": "Maximum cost per run"}, {"name": "maxItems", "type": "hidden", "label": "Maximum charged results"}], "restore": {"expect": {"memory": {"mode": "chose", "label": "Empty"}, "actorId": {"mode": "chose", "label": "Web Scraper (apify/web-scraper)"}, "runSync": {"mode": "chose"}, "actor_search_type": {"label": "Recently used Actors"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "apify"}, "label": "My Apify API Token connection (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 1500, "y": 1200}, "parameters": [{"name": "__IMTCONN__", "type": "account:apify2,apify", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10942194}}, {"id": 76, "mapper": {"type": "clean", "limit": "100", "format": "json", "datasetId": "{{71.defaultDatasetId}}"}, "module": "apify:fetchDatasetItems", "version": 1, "metadata": {"expect": [{"name": "datasetId", "type": "text", "label": "Dataset ID", "required": true}, {"name": "type", "type": "select", "label": "Data transformation", "required": true, "validate": {"enum": ["clean", "simplified", "none"]}}, {"name": "format", "type": "select", "label": "Format", "required": true, "validate": {"enum": ["json", "csv", "html", "xml", "rss", "xlsx"]}}, {"name": "limit", "type": "uinteger", "label": "Limit", "validate": {"max": 100000, "min": 1}}, {"name": "offset", "type": "uinteger", "label": "Offset", "validate": {"min": 0}}], "restore": {"expect": {"type": {"mode": "chose", "label": "Clean"}, "format": {"mode": "chose", "label": "JSON"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "apify"}, "label": "My Apify API Token connection (ki.koordinator@recruiting-now.de)"}}}, "designer": {"x": 1800, "y": 1200}, "parameters": [{"name": "__IMTCONN__", "type": "account:apify2,apify", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 10942194}}, {"id": 77, "mapper": {"text": "{{`76`}}", "pattern": "(https?:\\/\\/|\\/)[^\"']+\\/?[^\"']*(?:logo|brand)[^\"']*\\.(?:svg|png|jpg|jpeg|webp)"}, "module": "regexp:AdvancedParser", "version": 1, "metadata": {"expect": [{"name": "pattern", "type": "text", "label": "Pattern", "required": true}, {"name": "text", "type": "text", "label": "Text", "required": true}], "restore": {}, "designer": {"x": 2100, "y": 1200}, "parameters": [{"name": "global", "type": "boolean", "label": "Global match", "required": true}, {"name": "sensitive", "type": "boolean", "label": "Case sensitive", "required": true}, {"name": "multiline", "type": "boolean", "label": "Multiline", "required": true}, {"name": "singleline", "type": "boolean", "label": "Singleline", "required": true}, {"name": "continueWhenNoRes", "type": "boolean", "label": "Continue the execution of the route even if the module finds no matches", "required": true}, {"name": "advancedParser", "type": "hidden"}, {"name": "ignoreInfiniteLoopsWhenGlobal", "type": "boolean", "label": "Ignore errors when there is an infinite search loop", "required": true}]}, "parameters": {"global": true, "multiline": false, "sensitive": false, "singleline": false, "advancedParser": true, "continueWhenNoRes": false, "ignoreInfiniteLoopsWhenGlobal": false}}, {"id": 79, "mapper": {"name": "LogoURL", "scope": "roundtrip", "value": "{{if(startsWith(77.value; \"/\"); \"https://\" + 13.norm_url + 77.value; 77.value)}}"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "designer": {"x": 2400, "y": 1200}, "interface": [{"name": "LogoURL", "type": "any", "label": "LogoURL"}]}, "parameters": {}}]}], "version": 1, "metadata": {"designer": {"x": 1200, "y": 600}}}], "name": "Arbeitgeberprofil erstellen", "metadata": {"instant": true, "version": 1, "designer": {"orphans": [], "samples": {"7": {"result": "Bei Gehrlicher Pharmazeutische Extrakte GmbH werden Sie Teil eines unabh\u00e4ngigen, mittelst\u00e4ndischen F...", "candidates": [{"index": 0, "content": {"role": "model", "parts": [{"text": "Bei Gehrlicher Pharmazeutische Extrakte GmbH werden Sie Teil eines unabh\u00e4ngigen, mittelst\u00e4ndischen F..."}]}, "finishReason": "STOP"}], "responseId": "nWCwaIW9LeuxxN8Pzru2kQI", "modelVersion": "gemini-2.5-flash", "usageMetadata": {"totalTokenCount": 2568, "promptTokenCount": 338, "thoughtsTokenCount": 1949, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 338}], "candidatesTokenCount": 281}}, "11": {"assets": {"max_images": 5, "capture_logo": true, "capture_images": true}, "job_id": "JOB_1765470593649", "outputs": {"include_benefits": true, "create_google_doc": true, "include_matched_benefits": true}, "timestamp": "2025-12-11T16:29:53.649Z", "website_url": "https://recruiting-now.de/", "website_host": "recruiting-now.de", "__IMTMETHOD__": "POST", "__IMTHEADERS__": [{"name": "content-type", "value": "application/json"}], "run_folder_hint": "AUTO_EMP_recruiting-now.de_2025-12-11T16:29:53.649Z"}, "13": {"norm_url": null}, "25": {"id": "17zuz69G0nFe5d-1igtGyg3gdKl1mauxD", "kind": "drive#file", "name": "Profil  2025-12-11T16:29:53.649Z", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}], "shared": true, "spaces": ["drive"], "parents": ["16PlMrkdgJGnZ0CjLufKHOmd1OzeJLI93"], "starred": false, "trashed": false, "version": "1", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.folder+48+shared", "mimeType": "application/vnd.google-apps.folder", "ownedByMe": true, "viewedByMe": false, "createdTime": "2025-12-11T16:29:36.167Z", "permissions": [{"id": "16261946203438818213", "kind": "drive#permission", "role": "writer", "type": "user", "domain": "recruiting-now.de", "deleted": null, "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjWv562a2m4eEMYZ2I7MCSdyEXN2tHbp-rwGEG_Z57oabfBwhFY=s64", "displayName": "service", "emailAddress": "service@recruiting-now.de", "pendingOwner": null, "permissionDetails": [{"role": "writer", "inherited": false, "permissionType": "file"}], "allowFileDiscovery": null}], "webViewLink": "https://drive.google.com/drive/folders/17zuz69G0nFe5d-1igtGyg3gdKl1mauxD", "capabilities": {"canCopy": false, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": true, "canListChildren": true, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": false, "canRemoveChildren": true, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": true, "canModifyContentRestriction": false, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": false, "canDisableInheritedPermissions": true, "canChangeItemDownloadRestriction": false, "canModifyOwnerContentRestriction": false, "canModifyEditorContentRestriction": false, "canChangeCopyRequiresWriterPermission": false}, "hasThumbnail": false, "modifiedByMe": true, "modifiedTime": "2025-12-11T16:29:36.167Z", "permissionIds": ["06603506681424132250"], "folderColorRgb": "#8f8f8f", "quotaBytesUsed": "0", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-12-11T16:29:36.167Z", "thumbnailVersion": "0", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "downloadRestrictions": {"itemDownloadRestriction": {"restrictedForReaders": false, "restrictedForWriters": false}, "effectiveDownloadRestrictionWithContext": {"restrictedForReaders": false, "restrictedForWriters": false}}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "26": {"id": "1CKCljDglhUKJkijvUgE39FKJhS7vjtR0zSgblx73eTE", "kind": "drive#file", "name": "Arbeitgeberprofil Benefits ", "size": "1024", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}], "shared": true, "spaces": ["drive"], "parents": ["17zuz69G0nFe5d-1igtGyg3gdKl1mauxD"], "starred": false, "trashed": false, "version": "4", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document", "mimeType": "application/vnd.google-apps.document", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-12-11T16:29:39.988Z", "exportLinks": {"text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z...", "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1CKCljDglhUKJkijvUgE39FKJhS7vjtR0z..."}, "permissions": [{"id": "00385674675298349677", "kind": "drive#permission", "role": "owner", "type": "user", "domain": "recruiting-now.de", "deleted": null, "displayName": "ki.koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "pendingOwner": null, "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/document/d/1CKCljDglhUKJkijvUgE39FKJhS7vjtR0zSgblx73eTE/edit?usp=drivesdk", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canChangeItemDownloadRestriction": true, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": true, "modifiedByMe": true, "modifiedTime": "2025-12-11T16:29:45.201Z", "permissionIds": ["06603506681424132250"], "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPOtNPSxnbyfgK_eLihlkREfz_2_PM0dSGQzlKSmBLclTE9...", "quotaBytesUsed": "1024", "viewedByMeTime": "2025-12-11T16:29:41.251Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-12-11T16:29:45.201Z", "thumbnailVersion": "1", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "downloadRestrictions": {"itemDownloadRestriction": {"restrictedForReaders": false, "restrictedForWriters": false}, "effectiveDownloadRestrictionWithContext": {"restrictedForReaders": false, "restrictedForWriters": false}}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "27": {"id": "1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss", "kind": "drive#file", "name": "Arbeitgeberprofil Benefits https://gehrlicher.de/", "size": "1024", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}], "shared": true, "spaces": ["drive"], "parents": ["1mOmVGQ8Uit-hiKmxlgH6ZNlwusCU4zFg"], "starred": false, "trashed": false, "version": "5", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document", "mimeType": "application/vnd.google-apps.document", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-08-28T13:58:01.912Z", "exportLinks": {"text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ..."}, "permissions": [{"id": "00385674675298349677", "kind": "drive#permission", "role": "owner", "type": "user", "domain": "recruiting-now.de", "deleted": false, "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "pendingOwner": false, "permissionDetails": [{"role": "writer", "inherited": true, "permissionType": "file"}], "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/document/d/1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss/edit?usp=drivesdk", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canChangeItemDownloadRestriction": true, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": true, "modifiedByMe": true, "modifiedTime": "2025-08-28T13:58:08.124Z", "permissionIds": ["06603506681424132250"], "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMxItEYUnM8cE3E92oer9wGOyQ3Kwoa0QGjwo3TTALQVBnw...", "quotaBytesUsed": "1024", "viewedByMeTime": "2025-08-28T13:58:05.942Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-08-28T13:58:08.124Z", "thumbnailVersion": "1", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "downloadRestrictions": {"itemDownloadRestriction": {"restrictedForReaders": false, "restrictedForWriters": false}, "effectiveDownloadRestrictionWithContext": {"restrictedForReaders": false, "restrictedForWriters": false}}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "28": {"id": "1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss", "kind": "drive#file", "name": "Arbeitgeberprofil Benefits https://gehrlicher.de/", "size": "1024", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}], "shared": true, "spaces": ["drive"], "parents": ["1mOmVGQ8Uit-hiKmxlgH6ZNlwusCU4zFg"], "starred": false, "trashed": false, "version": "5", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document", "mimeType": "application/vnd.google-apps.document", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-08-28T13:58:01.912Z", "exportLinks": {"text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ..."}, "permissions": [{"id": "00385674675298349677", "kind": "drive#permission", "role": "owner", "type": "user", "domain": "recruiting-now.de", "deleted": false, "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "pendingOwner": false, "permissionDetails": [{"role": "writer", "inherited": true, "permissionType": "file"}], "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/document/d/1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss/edit?usp=drivesdk", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canChangeItemDownloadRestriction": true, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": true, "modifiedByMe": true, "modifiedTime": "2025-08-28T13:58:08.124Z", "permissionIds": ["06603506681424132250"], "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOV5jfckP1yF4k4JwyqbhtMpzwhRfYbb57e5k9-BoHb-ph3...", "quotaBytesUsed": "1024", "viewedByMeTime": "2025-08-28T13:58:05.942Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-08-28T13:58:08.124Z", "thumbnailVersion": "1", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "downloadRestrictions": {"itemDownloadRestriction": {"restrictedForReaders": false, "restrictedForWriters": false}, "effectiveDownloadRestrictionWithContext": {"restrictedForReaders": false, "restrictedForWriters": false}}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "41": {"result": "- Kein Benefit gefunden auf https://gehrlicher.de/\n", "candidates": [{"content": {"role": "model", "parts": [{"text": "- Kein Benefit gefunden auf https://gehrlicher.de/\n"}]}, "avgLogprobs": -1.0838696783009385e-05, "finishReason": "STOP"}], "responseId": "nWCwaJTsMvXlxN8Px-2lyAY", "modelVersion": "gemini-1.5-flash", "usageMetadata": {"totalTokenCount": 424, "promptTokenCount": 410, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 410}], "candidatesTokenCount": 14, "candidatesTokensDetails": [{"modality": "TEXT", "tokenCount": 14}]}}, "42": {"result": "| Gefunden | Plattform-Match |\n|---|---|\n| Kein Benefit gefunden | Kein Match |\n", "candidates": [{"content": {"role": "model", "parts": [{"text": "| Gefunden | Plattform-Match |\n|---|---|\n| Kein Benefit gefunden | Kein Match |\n"}]}, "avgLogprobs": -0.01867407134601048, "finishReason": "STOP"}], "responseId": "nmCwaPaeEYGhxN8PiNS2yQ0", "modelVersion": "gemini-1.5-flash", "usageMetadata": {"totalTokenCount": 343, "promptTokenCount": 322, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 322}], "candidatesTokenCount": 21, "candidatesTokensDetails": [{"modality": "TEXT", "tokenCount": 21}]}}, "48": {"id": "5Em7n644wgz4SZvGN", "meta": {"origin": "API", "userAgent": "Make/production"}, "actId": "aYG0l9s7dbB7j3gbS", "stats": {"metamorph": 0, "netRxBytes": 3268221, "netTxBytes": 94915, "cpuAvgUsage": 70.0044109232981, "cpuMaxUsage": 631.6307614852108, "memAvgBytes": 1212015459.582927, "memMaxBytes": 1478664192, "rebootCount": 0, "runTimeSecs": 27.188, "computeUnits": 0.06041777777777778, "inputBodyLen": 2360, "restartCount": 0, "durationMillis": 27188, "migrationCount": 0, "resurrectCount": 0, "cpuCurrentUsage": 0, "memCurrentBytes": 0}, "usage": {"PROXY_SERPS": 0, "DATASET_READS": 0, "DATASET_WRITES": 0, "ACTOR_COMPUTE_UNITS": 0.06041777777777778, "REQUEST_QUEUE_READS": 2, "REQUEST_QUEUE_WRITES": 1, "KEY_VALUE_STORE_LISTS": 0, "KEY_VALUE_STORE_READS": 3, "KEY_VALUE_STORE_WRITES": 1, "DATA_TRANSFER_EXTERNAL_GBYTES": 8.267723023891449e-05, "DATA_TRANSFER_INTERNAL_GBYTES": 3.783963620662689e-05, "PROXY_RESIDENTIAL_TRANSFER_GBYTES": 0}, "status": "SUCCEEDED", "userId": "SrRbnG0LgDvB41Pcp", "buildId": "N5wC2ArUbLgbcEpaX", "options": {"build": "version-0", "diskMbytes": 16384, "timeoutSecs": 360000, "memoryMbytes": 8192}, "exitCode": 0, "usageUsd": {"PROXY_SERPS": 0, "DATASET_READS": 0, "DATASET_WRITES": 0, "ACTOR_COMPUTE_UNITS": 0.02416711111111111, "REQUEST_QUEUE_READS": 8e-06, "REQUEST_QUEUE_WRITES": 2e-05, "KEY_VALUE_STORE_LISTS": 0, "KEY_VALUE_STORE_READS": 1.5000000000000002e-05, "KEY_VALUE_STORE_WRITES": 5e-05, "DATA_TRANSFER_EXTERNAL_GBYTES": 1.6535446047782897e-05, "DATA_TRANSFER_INTERNAL_GBYTES": 1.8919818103313446e-06, "PROXY_RESIDENTIAL_TRANSFER_GBYTES": 0}, "startedAt": "2025-08-28T13:58:14.721Z", "consoleUrl": "https://console.apify.com/view/runs/5Em7n644wgz4SZvGN", "finishedAt": "2025-08-28T13:58:42.038Z", "buildNumber": "0.3.67", "containerUrl": "https://do6ewjbowiwt.runs.apify.net", "generalAccess": "FOLLOW_USER_SETTING", "statusMessage": "Finished! Total 1 requests: 1 succeeded, 0 failed.", "usageTotalUsd": 0.02427853853896923, "defaultDatasetId": "DEWw0dUlQyaRRfSfH", "integrationTracking": {"appId": "apify-app", "platform": "make-com"}, "defaultRequestQueueId": "fmeUyiE9EFyCHnRdD", "defaultKeyValueStoreId": "pPyiYXEf36UXp6byO", "isStatusMessageTerminal": true, "platformUsageBillingModel": "USER"}, "50": {"aggregated_text": "Home | Gehrlicher Pharmazeutische Extrakte\nGehrlicher Pharmazeutische Extrakte GmbH is a medium-size..."}, "51": {"id": "1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss", "kind": "drive#file", "name": "Arbeitgeberprofil Benefits https://gehrlicher.de/", "size": "1024", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}], "shared": true, "spaces": ["drive"], "parents": ["1mOmVGQ8Uit-hiKmxlgH6ZNlwusCU4zFg"], "starred": false, "trashed": false, "version": "5", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document", "mimeType": "application/vnd.google-apps.document", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-08-28T13:58:01.912Z", "exportLinks": {"text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ..."}, "permissions": [{"id": "00385674675298349677", "kind": "drive#permission", "role": "owner", "type": "user", "domain": "recruiting-now.de", "deleted": false, "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "pendingOwner": false, "permissionDetails": [{"role": "writer", "inherited": true, "permissionType": "file"}], "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/document/d/1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss/edit?usp=drivesdk", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canChangeItemDownloadRestriction": true, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": true, "modifiedByMe": true, "modifiedTime": "2025-08-28T13:58:08.124Z", "permissionIds": ["06603506681424132250"], "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOxya_RCrlqvl_9Mh9b_KpgySSdobHblBRYOjkpJFNQwngj...", "quotaBytesUsed": "1024", "viewedByMeTime": "2025-08-28T13:58:05.942Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-08-28T13:58:08.124Z", "thumbnailVersion": "1", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "downloadRestrictions": {"itemDownloadRestriction": {"restrictedForReaders": false, "restrictedForWriters": false}, "effectiveDownloadRestrictionWithContext": {"restrictedForReaders": false, "restrictedForWriters": false}}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "58": {"result": "```json\n{}\n```\n", "candidates": [{"content": {"role": "model", "parts": [{"text": "```json\n{}\n```\n"}]}, "avgLogprobs": -0.055723688432148526, "finishReason": "STOP"}], "responseId": "omCwaJrnNsyExs0P-bbMgA0", "modelVersion": "gemini-1.5-flash", "usageMetadata": {"totalTokenCount": 192, "promptTokenCount": 185, "promptTokensDetails": [{"modality": "TEXT", "tokenCount": 185}], "candidatesTokenCount": 7, "candidatesTokensDetails": [{"modality": "TEXT", "tokenCount": 7}]}}, "59": {"id": "1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss", "kind": "drive#file", "name": "Arbeitgeberprofil Benefits https://gehrlicher.de/", "size": "1024", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}], "shared": true, "spaces": ["drive"], "parents": ["1mOmVGQ8Uit-hiKmxlgH6ZNlwusCU4zFg"], "starred": false, "trashed": false, "version": "5", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.document", "mimeType": "application/vnd.google-apps.document", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-08-28T13:58:01.912Z", "exportLinks": {"text/html": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/plain": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/pdf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/rtf": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "text/x-markdown": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/epub+zip": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.oasis.opendocument.text": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ...", "application/vnd.openxmlformats-officedocument.wordprocessingml.document": "https://docs.google.com/feeds/download/documents/export/Export?id=1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZ..."}, "permissions": [{"id": "00385674675298349677", "kind": "drive#permission", "role": "owner", "type": "user", "domain": "recruiting-now.de", "deleted": false, "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "pendingOwner": false, "permissionDetails": [{"role": "writer", "inherited": true, "permissionType": "file"}], "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/document/d/1l880F370MzYpfQMU-7bLt4QgzzQoTfmRZgBFacXw3Ss/edit?usp=drivesdk", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canChangeItemDownloadRestriction": true, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": true, "modifiedByMe": true, "modifiedTime": "2025-08-28T13:58:08.124Z", "permissionIds": ["06603506681424132250"], "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBPszZfeclcBzWMf3WMNMhAcTK94HC9mIgjN8kN0i7WmQlNA...", "quotaBytesUsed": "1024", "viewedByMeTime": "2025-08-28T13:58:05.942Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-08-28T13:58:08.124Z", "thumbnailVersion": "1", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJW_ipZOsZiDPsh3wk5h9BLii8a4CMAHHENut_iGKcprm5Pnw=s64", "displayName": "KI Koordinator", "emailAddress": "ki.koordinator@recruiting-now.de", "permissionId": "00385674675298349677"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "downloadRestrictions": {"itemDownloadRestriction": {"restrictedForReaders": false, "restrictedForWriters": false}, "effectiveDownloadRestrictionWithContext": {"restrictedForReaders": false, "restrictedForWriters": false}}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "61": {"url": "https://gehrlicher.de/", "text": "Home | Gehrlicher Pharmazeutische Extrakte\nGehrlicher Pharmazeutische Extrakte GmbH is a medium-size...", "crawl": {"depth": 0, "loadedUrl": "https://gehrlicher.de/en/home-2/", "loadedTime": "2025-08-28T13:58:34.429Z", "referrerUrl": "https://gehrlicher.de/", "httpStatusCode": 200}, "debug": {"requestHandlerMode": "browser"}, "markdown": "# Home | Gehrlicher Pharmazeutische Extrakte\n\nGehrlicher Pharmazeutische Extrakte GmbH is a medium-s...", "metadata": {"title": "Home | Gehrlicher Pharmazeutische Extrakte", "author": null, "jsonLd": [{"@graph": [{"@id": "https://gehrlicher.de/en/home-2/#organization", "url": "https://gehrlicher.de/en/home-2/", "logo": {"@id": "https://gehrlicher.de/en/home-2/#/schema/logo/image/", "url": "https://gehrlicher.de/wp-content/uploads/2024/06/icon_gehrlicher_logo.png", "@type": "ImageObject", "width": 1706, "height": 514, "caption": "Gehrlicher pharmazeutische Extrakte GmbH", "contentUrl": "https://gehrlicher.de/wp-content/uploads/2024/06/icon_gehrlicher_logo.png", "inLanguage": "en-GB"}, "name": "Gehrlicher pharmazeutische Extrakte GmbH", "@type": "Organization", "about": {"@id": "https://gehrlicher.de/en/home-2/#organization"}, "image": {"@id": "https://gehrlicher.de/en/home-2/#/schema/logo/image/"}, "width": 1920, "height": 1280, "caption": "Titelbild der Homepage", "isPartOf": {"@id": "https://gehrlicher.de/en/home-2/#website"}, "publisher": {"@id": "https://gehrlicher.de/en/home-2/#organization"}, "breadcrumb": {"@id": "https://gehrlicher.de/en/home-2/#breadcrumb"}, "contentUrl": "https://gehrlicher.de/wp-content/uploads/2024/09/AdobeStock_388898546_b.jpg", "inLanguage": "en-GB", "description": "Extrakte - nat\u00fcrlich individuell in bester Qualit\u00e4t.", "dateModified": "2025-05-14T08:59:18+00:00", "thumbnailUrl": "https://gehrlicher.de/wp-content/uploads/2024/09/AdobeStock_388898546_b.jpg", "alternateName": "Gehrlicher", "datePublished": "2024-09-09T12:41:10+00:00", "itemListElement": [{"name": "Startseite", "@type": "ListItem", "position": 1}], "potentialAction": [{"@type": "SearchAction", "target": ["https://gehrlicher.de/en/home-2/"], "query-input": {"@type": "PropertyValueSpecification", "valueName": "search_term_string", "valueRequired": true}}], "primaryImageOfPage": {"@id": "https://gehrlicher.de/en/home-2/#primaryimage"}}], "@context": "https://schema.org"}], "headers": {"date": "Thu, 28 Aug 2025 13:58:22 GMT", "link": "<https://gehrlicher.de/wp-json/>; rel=\"https://api.w.org/\", <https://gehrlicher.de/wp-json/wp/v2/pag...", "server": "Apache", "content-type": "text/html; charset=UTF-8", "x-firefox-spdy": "h2", "content-encoding": "gzip", "x-ws-ratelimit-limit": "1000", "x-ws-ratelimit-remaining": "999"}, "keywords": null, "openGraph": [{"content": "image/jpeg", "property": "og:image:type"}], "description": "Gehrlicher offers high-quality herbal extracts, mother-/ tinctures made from natural raw materials f...", "canonicalUrl": "https://gehrlicher.de/en/home-2/", "languageCode": "en-GB"}, "__IMTINDEX__": 1, "__IMTLENGTH__": 1, "screenshotUrl": null}, "62": {"array": [{"text": "Home | Gehrlicher Pharmazeutische Extrakte\nGehrlicher Pharmazeutische Extrakte GmbH is a medium-size..."}], "__IMTAGGLENGTH__": 1}, "66": {"array": [{"crawl": {"depth": 0, "loadedUrl": "https://gehrlicher.de/en/home-2/", "loadedTime": "2025-08-28T13:58:34.429Z", "referrerUrl": "https://gehrlicher.de/", "httpStatusCode": 200}}], "__IMTAGGLENGTH__": 1}, "71": {"id": "zyuGa4ohZI2BIx9nf", "meta": {"origin": "API", "userAgent": "Make/production"}, "actId": "moJRLRc85AitArpNN", "stats": {"metamorph": 0, "netRxBytes": 7688, "netTxBytes": 4108, "cpuAvgUsage": 0, "cpuMaxUsage": 0, "memAvgBytes": 31952228.60616294, "memMaxBytes": 97222656, "rebootCount": 0, "runTimeSecs": 4.7379999999999995, "computeUnits": 0.005264444444444445, "inputBodyLen": 1270, "restartCount": 3, "durationMillis": 4738, "migrationCount": 0, "resurrectCount": 0, "cpuCurrentUsage": 0, "memCurrentBytes": 0}, "usage": {"PROXY_SERPS": 0, "DATASET_READS": 0, "DATASET_WRITES": 0, "ACTOR_COMPUTE_UNITS": 0.005264444444444445, "REQUEST_QUEUE_READS": 0, "REQUEST_QUEUE_WRITES": 0, "KEY_VALUE_STORE_LISTS": 0, "KEY_VALUE_STORE_READS": 2, "KEY_VALUE_STORE_WRITES": 1, "DATA_TRANSFER_EXTERNAL_GBYTES": 3.825873136520386e-06, "DATA_TRANSFER_INTERNAL_GBYTES": 0, "PROXY_RESIDENTIAL_TRANSFER_GBYTES": 0}, "status": "FAILED", "userId": "SrRbnG0LgDvB41Pcp", "buildId": "9Mkjj0QLFkfY0LnzL", "options": {"build": "version-3", "diskMbytes": 8192, "timeoutSecs": 3600, "memoryMbytes": 4096}, "exitCode": 91, "usageUsd": {"PROXY_SERPS": 0, "DATASET_READS": 0, "DATASET_WRITES": 0, "ACTOR_COMPUTE_UNITS": 0.002105777777777778, "REQUEST_QUEUE_READS": 0, "REQUEST_QUEUE_WRITES": 0, "KEY_VALUE_STORE_LISTS": 0, "KEY_VALUE_STORE_READS": 1e-05, "KEY_VALUE_STORE_WRITES": 5e-05, "DATA_TRANSFER_EXTERNAL_GBYTES": 7.651746273040772e-07, "DATA_TRANSFER_INTERNAL_GBYTES": 0, "PROXY_RESIDENTIAL_TRANSFER_GBYTES": 0}, "startedAt": "2025-08-28T13:59:01.093Z", "consoleUrl": "https://console.apify.com/view/runs/zyuGa4ohZI2BIx9nf", "finishedAt": "2025-08-28T13:59:06.038Z", "buildNumber": "3.0.19", "containerUrl": "https://347dy0cxsagz.runs.apify.net", "generalAccess": "FOLLOW_USER_SETTING", "usageTotalUsd": 0.0021665429524050824, "defaultDatasetId": "CYTCzV6Xo0sdFn7r2", "integrationTracking": {"appId": "apify-app", "platform": "make-com"}, "defaultRequestQueueId": "5GLEpmyn0r2M2JI10", "defaultKeyValueStoreId": "v2gWQTvB1t4ENPLvH", "platformUsageBillingModel": "USER"}, "76": {"__IMTLENGTH__": 0}}}, "scenario": {"dlq": true, "slots": null, "dataloss": false, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}}