full_blueprint_v4.json
{
    "name": "Arbeitgeberprofil erstellen",
    "flow": [
        {
            "id": 11,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3037326,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "Sheet Webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "source",
                        "type": "text"
                    },
                    {
                        "name": "website",
                        "type": "text"
                    },
                    {
                        "name": "ts",
                        "type": "text"
                    },
                    {
                        "name": "__IMTHEADERS__",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text"
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "__IMTMETHOD__",
                        "type": "text",
                        "label": "Method"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 13,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "norm_url",
                "scope": "roundtrip",
                "value": "{{replace(11.website; \"\"\"/$\"\"\"; \"\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "norm_url",
                        "type": "any",
                        "label": "norm_url"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 25,
            "module": "google-drive:createAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7740843
            },
            "mapper": {
                "name": "Profil {{11.website}} {{11.timestamp}}",
                "role": "reader",
                "type": "domain",
                "domain": "recruiting-now.de",
                "shared": true,
                "folderId": "/16PlMrkdgJGnZ0CjLufKHOmd1OzeJLI93",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "role": {
                            "mode": "chose",
                            "label": "Reader"
                        },
                        "type": {
                            "mode": "chose",
                            "label": "Domain"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Arbeitgeber Profile generiert"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "ki koordinator (ki.koordinator@recruiting-now.de)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "New Folder's Name"
                    },
                    {
                        "name": "shared",
                        "type": "boolean",
                        "label": "Share Folder",
                        "required": true
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "required": true,
                        "validate": {
                            "enum": [
                                "owner",
                                "writer",
                                "commenter",
                                "reader"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "group",
                                "domain",
                                "anyone"
                            ]
                        }
                    },
                    {
                        "name": "domain",
                        "type": "text",
                        "label": "Domain",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 81,
            "module": "google-drive:shareAFile",
            "version": 4,
            "mapper": {
                "fileId": "{{25.id}}",
                "type": "user",
                "role": "writer",
                "emailAddress": "service@recruiting-now.de",
                "sendNotificationEmail": false
            },
            "parameters": {
                "__IMTCONN__": 7740843
            },
            "metadata": {
                "designer": {
                    "x": 750,
                    "y": 450
                }
            }
        },
        {
            "id": 26,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 10941496
            },
            "mapper": {
                "name": "Arbeitgeberprofil Benefits {{11.website}}",
                "footer": false,
                "header": false,
                "content": "Arbeitgeberprofil für {{11.website}}",
                "folderId": "{{25.id}}",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "edit",
                            "path": []
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Recruiting Now KI Koordinator (ki.koordinator@recruiting-now.de)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 68,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 48,
                            "module": "apify:runActorNew",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 10942194
                            },
                            "mapper": {
                                "actorId": "aYG0l9s7dbB7j3gbS",
                                "runSync": true,
                                "actor_search_type": "store",
                                "inputBodyaYG0l9s7dbB7j3gbS": "{\r\n  \"startUrls\": [\r\n    { \"url\": \"{{13.norm_url}}\" }\r\n  ],\r\n\r\n  \"linkSelector\": \"a[href]\",\r\n\r\n  \"includeUrlGlobs\": [\r\n    \"*/uber-uns*\",\r\n    \"*/ueber-uns*\",\r\n    \"*/about*\",\r\n    \"*/unternehmen*\",\r\n    \"*/karriere*\",\r\n    \"*/jobs*\",\r\n    \"*/benefits*\"\r\n  ],\r\n\r\n  \"crawlerType\": \"playwright:adaptive\",\r\n  \"maxCrawlPages\": 10,\r\n  \"maxCrawlDepth\": 3,\r\n\r\n  \"proxyConfiguration\": { \"useApifyProxy\": true },\r\n\r\n  \"pageFunction\": \"async function pageFunction(context) {\\n  const { request, page, log } = context;\\n  // Störelemente entfernen\\n  const toRemove = ['nav','footer','script','style','noscript','svg','img[src^=\\\"data:\\\"]'];\\n  try {\\n    await page.evaluate((sel) => {\\n      sel.forEach(s => { document.querySelectorAll(s).forEach(el => el.remove()); });\\n    }, toRemove);\\n  } catch (e) {\\n    log.debug('Cleanup skipped: ' + e.message);\\n  }\\n\\n  // Lesbaren Text holen\\n  const text = await page.evaluate(() => (document.body.innerText || '')\\n    .replace(/\\\\s+/g, ' ')  // Whitespace glätten\\n    .trim());\\n\\n  // Alle Links auslesen\\n  const allLinks = await page.$$eval('a[href]', as => as.map(a => a.href).filter(Boolean));\\n\\n  // Social Links filtern\\n  const socialRe = /(linkedin\\\\.com\\\\/company|facebook\\\\.com|instagram\\\\.com|twitter\\\\.com|x\\\\.com|youtube\\\\.com|kununu\\\\.com|xing\\\\.com|tiktok\\\\.com)/i;\\n  const socialLinks = Array.from(new Set(allLinks.filter(h => socialRe.test(h))));\\n\\n  return {\\n    url: request.url,\\n    text,\\n    socialLinks\\n  };\\n}\",\r\n\r\n  \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:']\"\r\n}\r\n"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "memory": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "actorId": {
                                            "mode": "chose",
                                            "label": "Website Content Crawler (apify/website-content-crawler)"
                                        },
                                        "runSync": {
                                            "mode": "chose"
                                        },
                                        "actor_search_type": {
                                            "label": "Apify Store Actors"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "apify"
                                            },
                                            "label": "My Apify API Token connection (ki.koordinator@recruiting-now.de)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:apify2,apify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "actor_search_type",
                                        "type": "select",
                                        "label": "Search Actors from",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "store"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "runSync",
                                        "type": "boolean",
                                        "label": "Run synchronously",
                                        "required": true
                                    },
                                    {
                                        "name": "build",
                                        "type": "text",
                                        "label": "Build"
                                    },
                                    {
                                        "name": "timeout",
                                        "type": "uinteger",
                                        "label": "Timeout"
                                    },
                                    {
                                        "name": "memory",
                                        "type": "select",
                                        "label": "Memory",
                                        "validate": {
                                            "enum": [
                                                128,
                                                256,
                                                512,
                                                1024,
                                                2048,
                                                4096,
                                                8192,
                                                16384,
                                                32768
                                            ]
                                        }
                                    },
                                    {
                                        "name": "actorId",
                                        "type": "select",
                                        "label": "Actor",
                                        "required": true
                                    },
                                    {
                                        "name": "inputBodyaYG0l9s7dbB7j3gbS",
                                        "type": "text",
                                        "label": "Input JSON",
                                        "required": true
                                    },
                                    {
                                        "name": "maxTotalChargeUsd",
                                        "type": "hidden",
                                        "label": "Maximum cost per run"
                                    },
                                    {
                                        "name": "maxItems",
                                        "type": "hidden",
                                        "label": "Maximum charged results"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 61,
                            "module": "apify:fetchDatasetItems",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 10942194
                            },
                            "mapper": {
                                "type": "clean",
                                "limit": "200",
                                "format": "json",
                                "datasetId": "{{48.defaultDatasetId}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "label": "Clean"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "JSON"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "apify"
                                            },
                                            "label": "My Apify API Token connection (ki.koordinator@recruiting-now.de)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:apify2,apify",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "datasetId",
                                        "type": "text",
                                        "label": "Dataset ID",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Data transformation",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "clean",
                                                "simplified",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "json",
                                                "csv",
                                                "html",
                                                "xml",
                                                "rss",
                                                "xlsx"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit",
                                        "validate": {
                                            "max": 100000,
                                            "min": 1
                                        }
                                    },
                                    {
                                        "name": "offset",
                                        "type": "uinteger",
                                        "label": "Offset",
                                        "validate": {
                                            "min": 0
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 67,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 150
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 62,
                                            "module": "builtin:BasicAggregator",
                                            "version": 1,
                                            "parameters": {
                                                "feeder": 61
                                            },
                                            "mapper": {
                                                "text": "{{61.text}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2400,
                                                    "y": -150
                                                },
                                                "restore": {
                                                    "extra": {
                                                        "feeder": {
                                                            "label": "Apify - Get Dataset Items [61]"
                                                        },
                                                        "target": {
                                                            "label": "Custom"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        {
                                            "id": 50,
                                            "module": "util:SetVariable2",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "name": "aggregated_text",
                                                "scope": "roundtrip",
                                                "value": "{{62.array[].text}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 2700,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "scope": {
                                                            "label": "One cycle"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Variable name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "scope",
                                                        "type": "select",
                                                        "label": "Variable lifetime",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "roundtrip",
                                                                "execution"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "any",
                                                        "label": "Variable value"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "aggregated_text",
                                                        "type": "any",
                                                        "label": "aggregated_text"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        },
                                        {
                                            "id": 7,
                                            "module": "gemini-ai:createACompletionGeminiPro",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 10945047
                                            },
                                            "mapper": {
                                                "model": "gemini-2.5-flash",
                                                "contents": [
                                                    {
                                                        "role": "user",
                                                        "parts": [
                                                            {
                                                                "text": "Erstelle eine kurze, ansprechende Arbeitgeberbeschreibung als Fließtext auf Basis des folgenden Inhalts: {{50.aggregated_text}}\n\r\n- Nenne ein paar Vorteile für Mitarbeiter\r\n\nKeine Formatierungen oder Markdown, Markup. Echte Zeilenumbrüche, keine \\n; keine Kommentare\r\n\r\nDer Text muss lesefertig sein und sich direkt an Bewerber:innen richten.\r\n",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "generationConfig": {
                                                    "thinkingConfig": {},
                                                    "responseModalities": [
                                                        "text"
                                                    ]
                                                },
                                                "system_instruction": {}
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 3000,
                                                    "y": 0
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "Gemini 2.5 Flash"
                                                        },
                                                        "contents": {
                                                            "mode": "chose",
                                                            "items": [
                                                                {
                                                                    "role": {
                                                                        "mode": "chose",
                                                                        "label": "User"
                                                                    },
                                                                    "parts": {
                                                                        "mode": "chose",
                                                                        "items": [
                                                                            {
                                                                                "type": {
                                                                                    "mode": "chose",
                                                                                    "label": "Text"
                                                                                }
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        "url_context": {
                                                            "mode": "chose"
                                                        },
                                                        "code_execution": {
                                                            "mode": "chose"
                                                        },
                                                        "safetySettings": {
                                                            "mode": "chose"
                                                        },
                                                        "generationConfig": {
                                                            "nested": {
                                                                "stopSequences": {
                                                                    "mode": "chose"
                                                                },
                                                                "thinkingConfig": {
                                                                    "nested": {
                                                                        "include_thoughts": {
                                                                            "mode": "chose"
                                                                        }
                                                                    }
                                                                },
                                                                "responseMimeType": {
                                                                    "mode": "chose",
                                                                    "label": "Empty"
                                                                },
                                                                "responseModalities": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "system_instruction": {
                                                            "nested": {
                                                                "parts": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        },
                                                        "google_search_context": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "gemini-ai-q9zyjp"
                                                            },
                                                            "label": "My Gemini AI connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:gemini-ai-q9zyjp",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "AI Model",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "contents",
                                                        "spec": [
                                                            {
                                                                "name": "role",
                                                                "type": "select",
                                                                "label": "Role",
                                                                "options": [
                                                                    {
                                                                        "label": "User",
                                                                        "value": "user"
                                                                    },
                                                                    {
                                                                        "label": "Model",
                                                                        "value": "model"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "parts",
                                                                "spec": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "select",
                                                                        "label": "Message Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "Text",
                                                                                "value": "text",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "text",
                                                                                        "type": "text",
                                                                                        "label": "Text",
                                                                                        "required": false
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "File",
                                                                                "value": "file",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "file_data",
                                                                                        "spec": [
                                                                                            {
                                                                                                "name": "mime_type",
                                                                                                "type": "text",
                                                                                                "label": "Mime Type",
                                                                                                "required": false
                                                                                            },
                                                                                            {
                                                                                                "help": "You get this from the 'Upload a File' module.",
                                                                                                "name": "file_uri",
                                                                                                "type": "text",
                                                                                                "label": "File URI",
                                                                                                "required": false
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "File Data",
                                                                                        "required": false
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Parts"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Messages",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "system_instruction",
                                                        "spec": [
                                                            {
                                                                "name": "parts",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "spec": [
                                                                        {
                                                                            "name": "text",
                                                                            "type": "text",
                                                                            "label": "Value"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Prompt"
                                                                },
                                                                "type": "array",
                                                                "label": "Prompts"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "System Instructions"
                                                    },
                                                    {
                                                        "name": "safetySettings",
                                                        "spec": [
                                                            {
                                                                "name": "category",
                                                                "type": "select",
                                                                "label": "Category",
                                                                "options": [
                                                                    {
                                                                        "label": "Harassment content",
                                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                                    },
                                                                    {
                                                                        "label": "Hate speech and content",
                                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                                    },
                                                                    {
                                                                        "label": "Sexually explicit content.",
                                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                                    },
                                                                    {
                                                                        "label": "Dangerous content:",
                                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "name": "threshold",
                                                                "type": "select",
                                                                "label": "Threshold",
                                                                "options": [
                                                                    {
                                                                        "label": "Block low and above.",
                                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                                    },
                                                                    {
                                                                        "label": "Block medium and above.",
                                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                                    },
                                                                    {
                                                                        "label": "Block only high.",
                                                                        "value": "BLOCK_ONLY_HIGH"
                                                                    },
                                                                    {
                                                                        "label": "Block none.",
                                                                        "value": "BLOCK_NONE"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Safety Settings"
                                                    },
                                                    {
                                                        "name": "generationConfig",
                                                        "spec": [
                                                            {
                                                                "name": "stopSequences",
                                                                "spec": {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Stop Sequence"
                                                                },
                                                                "type": "array",
                                                                "label": "Stop Sequences"
                                                            },
                                                            {
                                                                "name": "responseModalities",
                                                                "type": "select",
                                                                "label": "Response Modalities",
                                                                "multiple": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "text",
                                                                        "image"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "maxOutputTokens",
                                                                "type": "number",
                                                                "label": "Max Output Tokens"
                                                            },
                                                            {
                                                                "name": "temperature",
                                                                "type": "number",
                                                                "label": "Temperature",
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "topP",
                                                                "type": "number",
                                                                "label": "Top P",
                                                                "validate": {
                                                                    "max": 1,
                                                                    "min": 0
                                                                }
                                                            },
                                                            {
                                                                "name": "topK",
                                                                "type": "number",
                                                                "label": "Top K"
                                                            },
                                                            {
                                                                "name": "thinkingConfig",
                                                                "spec": [
                                                                    {
                                                                        "name": "thinkingBudget",
                                                                        "type": "number",
                                                                        "label": "Thinking Budget"
                                                                    },
                                                                    {
                                                                        "name": "include_thoughts",
                                                                        "type": "boolean",
                                                                        "label": "Include Thoughts"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Thinking Config"
                                                            },
                                                            {
                                                                "name": "responseMimeType",
                                                                "type": "select",
                                                                "label": "Response Mime Type"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Generation configurations"
                                                    },
                                                    {
                                                        "name": "tools",
                                                        "type": "any",
                                                        "label": "Tools"
                                                    },
                                                    {
                                                        "name": "tool_config",
                                                        "type": "any",
                                                        "label": "Tool Config"
                                                    },
                                                    {
                                                        "name": "url_context",
                                                        "type": "boolean",
                                                        "label": "URL Context"
                                                    },
                                                    {
                                                        "name": "google_search_context",
                                                        "type": "boolean",
                                                        "label": "Google Search Grounding"
                                                    },
                                                    {
                                                        "name": "code_execution",
                                                        "type": "boolean",
                                                        "label": "Code Execution"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "result",
                                                        "type": "text",
                                                        "label": "Result"
                                                    },
                                                    {
                                                        "name": "candidates",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "content",
                                                                    "spec": [
                                                                        {
                                                                            "name": "parts",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "text",
                                                                                        "type": "text",
                                                                                        "label": "Text"
                                                                                    }
                                                                                ],
                                                                                "type": "collection"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Parts"
                                                                        },
                                                                        {
                                                                            "name": "role",
                                                                            "type": "text",
                                                                            "label": "Role"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Content"
                                                                },
                                                                {
                                                                    "name": "finishReason",
                                                                    "type": "text",
                                                                    "label": "Finish Reason"
                                                                },
                                                                {
                                                                    "name": "index",
                                                                    "type": "number",
                                                                    "label": "Index"
                                                                },
                                                                {
                                                                    "name": "safetyRatings",
                                                                    "spec": {
                                                                        "spec": [
                                                                            {
                                                                                "name": "category",
                                                                                "type": "text",
                                                                                "label": "Category"
                                                                            },
                                                                            {
                                                                                "name": "probability",
                                                                                "type": "text",
                                                                                "label": "Probability"
                                                                            }
                                                                        ],
                                                                        "type": "collection"
                                                                    },
                                                                    "type": "array",
                                                                    "label": "Safety Ratings"
                                                                }
                                                            ],
                                                            "type": "collection"
                                                        },
                                                        "type": "array",
                                                        "label": "Candidates"
                                                    },
                                                    {
                                                        "name": "usageMetadata",
                                                        "spec": [
                                                            {
                                                                "name": "promptTokenCount",
                                                                "type": "number",
                                                                "label": "Prompt Token Count"
                                                            },
                                                            {
                                                                "name": "candidatesTokenCount",
                                                                "type": "number",
                                                                "label": "Candidates Token Count"
                                                            },
                                                            {
                                                                "name": "totalTokenCount",
                                                                "type": "number",
                                                                "label": "Total Token Count"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Usage Metadata"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}